.Container-Public-About {
  background-color: var(--background-color);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .Public-About-Container {
    width: 90%;
    height: 90%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .Public-About-Content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;

      .Public-About-Username {
          font-size: clamp(20px, 32vw, 500px);
      }
      .Public-About-Bio {
          font-size: clamp(20px, 32vw, 500px);
        
      }
    }
  }
}
