.Container-Public-Home {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  line-height: 0.9;

  h1,h2 {
    font-size: 10rem;
    color: #ff6a00;  
  }
  span {
    margin: 10px 0;
  }

  .stock-ticker {
    opacity: 0.7;
    z-index: 0;
    width: 100%;
    top: 47%;
    height: 50px;
    font-size: 25px;
    padding-block: 8px;
    overflow: hidden;
    user-select: none;
    --gap: 150px;
    display: flex;
    gap: var(--gap);
  }

  .stock-ticker ul {
    font-family: "Weight";
    font-size: 30px;
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    animation: scroll 50s linear infinite;
  }

  .scroll-text {
    color: white;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
