.Container-Home {
  background: center no-repeat url("../assets/BG.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .Home-Text {
    z-index: 2;

    h1 {
      font-family: "Weight";
      font-size: clamp(5rem, 20vw, 50rem);
      color: #ff6a00;
    }
  }

  .Home-Background-Gradient {
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    background: linear-gradient(
      180deg,
      rgb(12, 12, 12) 0%,
      rgba(87, 199, 133, 0) 50%,
      rgb(12, 12, 12) 100%
    );
  }
}
