.Main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 19, 19);
  flex-direction: column;
}

.Containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 200px;
  min-height: 200px;
  width: 100vw;
  background-color: rgb(19, 19, 19);
  flex-direction: column;
}

.Login-container {
  gap: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60vh;

  form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    width: 800px;
    max-width: 800px;

    input {
      color: #ff6a00;
      border: 1px solid #ff6a00;
    }
  }
}

.Signin-container {
  border-radius: 10px;
  width: 100px;
  height: 10%;
}

.register-button {
  cursor: pointer;
  color: white;
  font-family: "Weight";
}

.login-button-container {
  width: 100px;
  height: 100px;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  border: 2px solid #ff6a00;

  .login-button {
    color: #ff6a00;
    font-family: "Weight";
    font-size: 18px;
  }
}
