.Container {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 19, 19);
  flex-direction: row;
}

.Login-container {
  gap: 10px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  background-color: white;
}

.Signin-container {
  border-radius: 10px;
  background-color: red;
  width: 30%;
  height: 10%;
}
