@media (min-width: 1281px) {
  .Container-Public-Projects {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2dvw 1fr;
    grid-auto-rows: 1fr;

    .Public-Projects-List-Container {
      gap: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90vw;
      // background-color: gray;
      // border: 1px solid white;
      bottom: -10%;
      left: 10%;
      width: 90%;
      height: 90%;
      h2 {
        color: rgb(107, 104, 104);
      }

      .Public-Cards-List-Container {
        height: 75%;
        width: 100%;
        display: flex;
        justify-content: center;

        .Cards-Placeholder {
          font-family: "Weight";
          color: white;
          display: flex;
          background-color: #202020;
          width: 100px;
          min-width: 100px;
          height: 650px;
          max-height: 650px;
          justify-content: center;
          align-items: center;
          font-size: 50px;

          button {
            min-width: 50px;
            min-height: 50px;
            max-width: 50px;
            max-height: 50px;
          }
          &:hover {
            background-color: #252525;
          }
        }

        ul {
          height: 100%;
          width: 1660px;
          max-width: 1660px;
          gap: 10px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          mask-image: linear-gradient(
            to bottom,
            black 0%,
            rgba(0, 0, 0, 0.9) 85%,
            transparent 100%
          );

          li {
            display: flex;
            flex-direction: row;
            flex-basis: 120px;
            flex-shrink: 1;
            flex-grow: 200px;
            height: 650px;
            background: white;
            overflow: hidden;
            width: 10%;
            max-width: 300px;
            height: 650px;
            min-height: 650px;
            max-height: 650px;
            transition: flex-grow 0.5s;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }

            &:hover {
              flex-grow: 3;
              transition: flex-grow 1s;
            }
          }
          .featured {
            min-width: 500px;
            max-width: 500px;
          }
        }
      }

      .Public-Bottom-Section {
        display: flex;
        flex-direction: row;
        height: 25%;
        width: 100%;

        .Public-Cards-Categories-Container {
          width: 50%;
          height: 100%;
        }

        .Public-Card-Info-Container {
          border-top: 1px solid rgb(221, 117, 19);
          width: 50%;
          margin-right: 20px;
          font-family: "Weight";
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          h2 {
            font-size: 25px;
            color: white;
          }

          p {
            color: orange;
          }
        }
      }
      .Public-container-pagination {
        display: flex;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 68%;
      }
    }
  }
}
