.Register-Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ff6a00;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
.Form-Container {
  border-radius: 10px;
  justify-content: center;
  padding: 50px;
  background-color: rgb(32, 32, 32);
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;

  h1{
    font-size: 2rem;
    margin-bottom: 1rem;;
  }

  form {
    justify-content: center;
    display: flex;
    gap: 50px;
    width: 100%;
    font-size: 2rem;
    flex-direction: column;

    input {
      color: white;
      height: 40px;
      min-width: 300px;
      border: solid 1px #ff6a00;
    }
  }
}

.input-group {
  gap: 50px;
  display: flex;
  flex-direction: row;

  label {
    font-family: "Weight";
    font-size: 20px;
    color: white;
    min-width: 70px;
    max-width: 70px;
  }
}

.submit-button {
  :hover {
    background-color: #ff6a00;
  }
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  & :hover {
    background-color: #ff6a00;
    color: white;
  }

  a,
  button {
    text-align: center;
    font-size: 18px;
    width: 100px;
    border: 2px solid #ff6a00;
  }
}

}
