.Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 19, 19);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Register-Container {
  border-radius: 10px;
  justify-content: center;
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 1920px;
  height: 60vh;
}

form {
  justify-content: center;
  display: flex;
  gap: 50px;
  width: 800px;
  flex-direction: column;

  input {
    color: #ff6a00;
    height: 40px;
    min-width: 500px;
    border-radius: 5px;
    border: solid 1px #ff6a00;
  }
}

.input-group {
  gap: 50px;
  display: flex;
  flex-direction: row;

  label {
    font-family: "Weight";
    font-size: 20px;
    color: white;
    min-width: 70px;
    max-width: 70px;
  }
}

.submit-button {
  position: relative;
  font-family: "Weight";
  font-size: 80px;
  color: white;
  border-radius: 50%;
  border: 5px solid #ff6a00;
  width: 400px;
  height: 400px;
  background-color: transparent;

  :hover {
    background-color: #ff6a00;
  }
}

.container-button {
  min-width: 400px;
  max-width: 400px;
}
