.container-admin-view-modal {
  overflow: scroll;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 50px;
  left: 10%;
  top: 10%;
  width: 80dvw;
  height: 70dvh;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;

  .container-view-modal-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;

    .container-section1 {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(19, 19, 19);

      img {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }

    .container-section2 {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2.5%;

      input {
        font-family: "Weight";
        color: white;
        background-color: #2e2e2e;
      }

      textarea.description {
        width: 90%;
        height: 70%;
        font-family: "Weight";
        color: white;
        background-color: #2e2e2e;
      }

      input.title {
        height: 10%;
        width: 90%;
      }

      .container-buttons {
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 10%;
        width: 90%;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
