.container-public-view-modal {
  position: fixed;
  display: flex;
  top: 0%;
  flex-direction: row;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color: transparent;

  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  .container-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;

    .container-delete-button {
      display: flex;
      position: fixed;
      top: 12%;
      right: 12%;
      width: 20px;
      height: 20px;

      .icon-color {
        color: #f77c25;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
