.container-modal {
  overflow: scroll;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 50px;
  left: 10%;
  top: 10%;
  width: 80dvw;
  height: 70dvh;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    // max-width: 100%;
    // max-height: 100%;
    // min-height: 100%;
    // min-width: 100%;
    justify-content: center;

    .section2 {
      height: 100%;
      // max-width: 100%;
      // min-width: 100%;
      width: 30%;
      // max-width: 30%;
      // min-width: 30%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2.5%;
    }

    .input-group-image {
      height: 100%;
      width: 70%;
      // min-width: 70%;F
      // max-width: 70%;
      align-items: center;
      display: flex;
      position: relative;
      justify-content: center;
    }

    input {
      font-family: "Weight";
      color: white;
      background-color: #2e2e2e;
    }

    input.title {
      height: 10%;
      width: 90%;
    }

    input.input-image {
      height: 90%;
      width: 90%;
      font-family: "Weight";
      color: white;
    }

    input.description {
      width: 90%;
      height: 70%;
      font-family: "Weight";
      color: white;
    }

    .Container-submit {
      display: flex;
      height: 5%;
      width: 100%;
      gap: 10px;
      justify-content: center;
    }
  }

  button {
    color: white;
    font-family: "Weight";
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
