.container-modal {
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 10%;
  top: 10%;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  z-index: 1100;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;

  .container-close-button {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: flex-end;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      font-family: "Weight";
      color: white;
      border: solid 1px #ff6a00;
      width: 400px;
      min-width: 80px;
      height: 30px;
    }

    input.description {
      font-family: "Weight";
      color: white;
      border: solid 1px #ff6a00;
      width: 400px;
      min-width: 80px;
      height: 100px;
    }
  }

  button {
    color: white;
    font-family: "Weight";
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
