.container-modal {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  width: 40%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  background-color: white;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
