.container-view-modal {
  overflow: scroll;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 50px;
  left: 10%;
  top: 10%;
  width: 80dvw;
  height: 70dvh;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
