.Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 19, 19);
  flex-direction: row;
}

.Main-text {
  font-family: "Weight";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  color: #ff6a00;
  line-height: 1;

  span {
    margin: 10px 0;
  }
}
