@media (min-width: 1281px) {
  .Container-Admin-About {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      top: 25%;
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 8rem;
        }

        p {
          font-size: 5rem;
        }
      }
    }
  }
}
