@media (min-width: 1700px) {
  .Container-Admin-About {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // align-items: center;

        p {
          font-size: 5rem;
        }
        .Admin-About-Username {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          font-size: 35rem;
          color: #ff6a00;
          width: 100vw;
          input {
            max-width: 90vw;
          }

          .icon {
            margin-top: 170px;
          }
        }

        .Admin-About-Bio {
          display: flex;
          align-items: flex-start;
          position: relative;
          flex-direction: row;
          max-width: 800px;
          min-width: 800px;
          height: 300px;
          font-size: 5rem;
          top: -200px;

          text-area {
            max-width: 100%;
          }
        }
      }
    }
  }
}
