.Container-Home {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Weight";
    font-size: clamp(5rem, 40vw, 100rem);
    color: white;
  }
}
