@media (min-width: 1700px) {
  .Container-Admin-About {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // align-items: center;

        p {
          font-size: 5rem;
        }
        .Admin-About-Username {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          font-size: 35rem;
          color: #ff6a00;
          width: 100vw;
          input {
            max-width: 90vw;
          }

          .icon {
            margin-top: 170px;
          }
        }

        .Admin-About-Bio {
          display: flex;
          align-items: flex-start;
          position: relative;
          flex-direction: row;
          max-width: 800px;
          min-width: 800px;
          height: 300px;
          font-size: 5rem;
          top: -200px;

          text-area {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1699px) and (min-width: 1400px) {
  .Container-Admin-About {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // align-items: center;

        p {
          font-size: 5rem;
        }
        .Admin-About-Username {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          font-size: 29rem;
          color: #ff6a00;
          width: 100vw;
          input {
            max-width: 90vw;
          }

          .icon {
            margin-top: 130px;
          }
        }

        .Admin-About-Bio {
          display: flex;
          align-items: flex-start;
          position: relative;
          flex-direction: row;
          margin-left: 15px;
          max-width: 800px;
          min-width: 800px;
          height: 300px;
          font-size: 4rem;
          top: -150px;

          text-area {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1399px) {
  .Container-Admin-About {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // align-items: center;

        p {
          font-size: 5rem;
        }
        .Admin-About-Username {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          font-size: 20.8rem;
          color: #ff6a00;
          width: 100vw;
          input {
            max-width: 90vw;
          }

          .icon {
            margin-top: 80px;
          }
        }

        .Admin-About-Bio {
          margin-left: 15px;

          display: flex;
          align-items: flex-start;
          position: relative;
          flex-direction: row;
          max-width: 800px;
          min-width: 800px;
          height: 300px;
          font-size: 2.8rem;
          top: -100px;

          text-area {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .Container-Admin-About {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // align-items: center;

        p {
          font-size: 5rem;
        }
        .Admin-About-Username {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          font-size: 16rem;
          color: #ff6a00;
          width: 100vw;
          input {
            max-width: 90vw;
          }

          .icon {
            margin-top: 60px;
          }
        }

        .Admin-About-Bio {
          display: flex;
          align-items: flex-start;
          position: relative;
          flex-direction: row;
          max-width: 800px;
          min-width: 800px;
          height: 300px;
          font-size: 2.2rem;
          top: -80px;

          text-area {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .Container-Admin-About {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .Admin-About-Container {
      width: 90%;
      height: 90%;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      .Admin-About-Content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        // align-items: center;

        p {
          font-size: 5rem;
        }
        .Admin-About-Username {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: row;
          font-size: 7rem;
          color: #ff6a00;
          width: 100vw;
          input {
            max-width: 90vw;
          }

          .icon {
            margin-top: 20px;
          }
        }

        .Admin-About-Bio {
          margin-left: 15px;
          display: flex;
          align-items: flex-start;
          position: relative;
          flex-direction: row;
          justify-content: center;
          max-width: 800px;
          min-width: 800px;
          height: 300px;
          font-size: 1.3rem;
          top: -50px;

          text-area {
            max-width: 100%;
          }
        }
      }
    }
  }
}
