.Projects-List-Container {
  display: flex;
  flex-direction: column;
  position: relative;
  // background-color: gray;
  // border: 1px solid white;
  bottom: -5%;
  left: 5%;
  width: 90%;
  height: 90%;
  h2 {
    color: rgb(107, 104, 104);
  }
}

.Container {
  // overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.Cards-List-Container {
  // background-color: #303030;
  height: 75%;
  width: 100%;

  ul {
    height: 100%;
    width: 100%;
  }

  .Cards-Placeholder {
    font-family: "Weight";
    color: white;
    display: flex;
    background-color: #202020;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    &:hover {
      background-color:  #252525;
    }
  }

  li {
    width: 10%;
    height: 100%;
    background-color: white;
  }
}

.Bottom-Section {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;

  .Cards-Categories-Container {
    width: 50%;
    height: 100%;
  }

  .Card-Info-Container {
    border-top: 1px solid rgb(221, 117, 19);
    width: 50%;
    margin-right: 20px;
    font-family: "Weight";
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
      font-size: 25px;
      color: white;
    }

    p {
      color: orange;
    }

    // background-color: #252525;
  }
}
