:root {
  //desktops
  --desktop-login-width: 30dvw;
  --desktop-login-height: 50dvh;
  --desktop-login-gap: 10px;
  --desktop-font-size: calc(var(--desktop-login-width) * 0.03);
  --desktop-input-width: 300px;

  //laptops
  --laptop-login-width: 30dvw;
  --laptop-login-height: 50dvh;
  --laptop-login-gap: 10px;
  --laptop-font-size: calc(var(---laptop-login-width) * 0.03);
  --laptop-input-width: 300px;

  //mobile (portrait)
  --laptop-login-width: 20dvw;
  --laptop-login-height: 40dvh;
  --laptop-login-gap: 10px;
  --laptop-font-size: calc(var(--login-width) * 0.03);
  --laptop-input-width: 300px;

  //mobile (landscape)
  --laptop-login-width: 20dvw;
  --laptop-login-height: 40dvh;
  --laptop-login-gap: 10px;
  --laptop-font-size: calc(var(--login-width) * 0.03);
  --laptop-input-width: 300px;
}

@media (min-width: 1281px) {
  .google-btn {
    // background-color: var(--accent-color);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    width: 150px;
    max-width: 150px;
    min-width: 150px;
  }
}
