nav {
  background-color: transparent;
  padding: 30px;
  gap: 50px;
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  top: 0%;
  position: fixed;
  z-index: 3;
  .Name {
    display: flex;
    position: relative;
    margin-top: -10px;
    font-size: 3rem;
    color: #ff6a00;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    a {
      font-family: "Weight";
      font-size: 1.5rem;
      color: rgb(255, 255, 255);

      &:hover {
        color: #ff6a00;
      }
    }

    .active {
      color: #ff6a00;
    }
  }
}
