.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  color: #101010;
  width: 15px;
  height: 15px;
  font-family: inherit;
  font-weight: 600;
  font-size: 0;
  margin: 0 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #ffffff;
  border-color: #eee;
  list-style: none;

  &:hover {
    background: #f77c25;
    color: #101010;
  }
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #f77c25;
  color: #101010;
}
