@media (min-width: 1281px) and (max-width: 1920px) {
  .Main-Sidebar-Container {
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
      font-size: 15.5dvh;
    }
  }

  .Sidebar-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    justify-content: flex-start;
  }

  .Sidebar-Banner {
    gap: 2%;
    width: 100vw;
    height: 10vh;
    font-family: "Weight";
    font-size: 7.5vw;
    position: fixed;
     left: -50%; /* Adjust this fixed pixel value until the horizontal position is correct */
    top: -9%; /* This can stay, as it's relative to the stable 100vh parent height */
    display: flex;
    background-color: transparent;
    color: #ff6a00;
    transform: rotate(-90deg);
  }

  .Sidebar-stock-ticker-vertical {
    opacity: 0.7;
    z-index: 0;
    width: 100vw;
    height: 10vh;
    margin-left: -150px;
    position: relative;
    padding-block: 8px;
    user-select: none;
    --gap: 150px;
    display: flex;
    gap: var(--gap);
    transform: rotate(-90deg);
  }

  .stock-ticker-vertical ul {
    font-family: "Weight";
    font-size: 35px;
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    animation: scroll 50s linear infinite;
  }

  .scroll-text {
    color: white;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

@media (min-width: 1921px) {
  .Main-Sidebar-Container {
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
      font-size: 15.4dvh;
    }
  }

  .Sidebar-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
    justify-content: flex-start;
  }

  .Sidebar-Banner {
    gap: 2%;
    width: 100vw;
    height: 10vh;
    font-family: "Weight";
    font-size: 7.5vw;
    position: fixed;
    left: -50%; /* Adjust this fixed pixel value until the horizontal position is correct */
    top: -9%; /* This can stay, as it's relative to the stable 100vh parent height */
    display: flex;
    background-color: transparent;
    color: #ff6a00;
    transform: rotate(-90deg);
  }

  .Sidebar-stock-ticker-vertical {
    opacity: 0.7;
    z-index: 0;
    width: 100vw;
    height: 10vh;
    margin-left: -150px;
    position: relative;
    padding-block: 8px;
    user-select: none;
    --gap: 150px;
    display: flex;
    gap: var(--gap);
    transform: rotate(-90deg);
  }

  .stock-ticker-vertical ul {
    font-family: "Weight";
    font-size: 35px;
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    animation: scroll 50s linear infinite;
  }

  .scroll-text {
    color: white;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
