.container-public-view-modal {
  position: fixed;
  display: flex;
  top: 0%;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;

  .image-container-button {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    z-index: 9999;
    .close-btn {
      position: relative;
      font-size: 2rem;
      z-index: 9999;
      color: var(--accent-color);
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5%;
    min-height: 100vh;
    height: 100vh;
    img {
      width: 70%;
      max-height: 70vh;
      object-fit: contain;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
