@import "tailwindcss";


@font-face {
  font-family : 'Weight';
  src: url('./assets/Weight.otf') format('truetype');
}

@font-face {
  font-family : 'TrashHand';
  src: url('./assets/TrashHand.ttf') format('truetype');
}

@font-face {
  font-family : 'Roboto';
  src: url('./assets/Roboto-Regular.ttf') format('truetype');
}